html {
    font-family: "Crimson Text", serif !important;
}

body {
    font-family: "Crimson Text", serif !important;
}
input[type="button"] {
    background-color: lightslategray !important;
    border: 1px solid black !important;
}
.primary {
    background-color: lightslategray !important;
    border: 1px solid black !important;
}
.ant-row {
    margin: 0px !important;
    width: 100% !important;
}
.container-fluid {
    padding: 0;
    margin: 0;
}
