html {
    font-family: "Crimson Text", serif !important;
}

body {
    font-family: "Crimson Text", serif !important;
}
.ant-row {
    margin: 0px !important;
    width: 100% !important;
}
.container-fluid {
    padding: 0;
    margin: 0;
}
.ant-tabs-nav-list {
    width: 100%;
}
.ant-tabs-tab {
    width: 100%;
    display: flex;
    justify-content: center;
}
.ant-tabs-tab-active {
    background-color: gray !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white !important;
}
