html {
    font-family: "Crimson Text", serif !important;
}

body {
    font-family: "Crimson Text", serif !important;
}

.ant-row {
    margin: 0px !important;
    width: 100% !important;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.custom-tab .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list {
    width: 100%;
}

.custom-tab .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
    width: 100%;
    display: flex;
    justify-content: center;
}

.custom-tab .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab-active {
    border-bottom: 4px solid green !important;
    background-color: gray !important;
}

.custom-tab .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white !important;
}

img {
    pointer-events: none;
}

/* .pageContent {
    padding-top: 5rem;
} */
