.rightSideBar {
    margin-top: 5rem;
    border: 1px solid;
    height: 89%;
    position: fixed;
    width: 25%;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.btnToProcced {
    position: fixed;
    width: 21.5%;
    bottom: 0;
}
