.BatteryPrice{
    display: flex;
    justify-content: space-between;
}
.price{
    display: flex;
    justify-content: space-between;
    width: 79%;
}
.cardHeight{
    height: 25vh;
}
.orange{
    background-color: orange;
}
.blue{
background-color: blue;
}
.green{
    background-color: green;
}
.pink{
    background-color: pink;
}
.boxShadow{
    box-shadow:rgb(0 0 0 / 12%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px ;
    width: "100%",

}