.child_drop {
    position: absolute;
    top: 0%;
    background: whitesmoke;
    bottom: 0;
    left: 0;
    width: 100%;
}

.ant-card-extra {
    width: 100% !important;
    float: none;
    margin-left: none;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.filterHeading h2 {
    padding: 0 !important;
    margin: 0 !important;
}
.inputBorder {
    font-size: 1.5rem !important;
    border: 1px solid black !important;
    height: 3rem !important;
}

.site-card-border-less-wrapper h2 {
    padding: 0 !important;
    margin: 0 !important;
}
#homePageCard {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 9px 20px #777;
    width: 98%;
    left: 3px;
    top: 4px;
}
