.ant-card-body {
    position: relative;
}
.ant-card {
    left: 3px;
    top: 4px;
}
.child_drop {
    position: absolute;
    top: -36%;
    background: whitesmoke;
    bottom: 0;
    left: 0;
    width: 100%;
}
.primary{
    background-color: lightslategray !important;
    border: 1px solid black !important;
}
.ant-card-extra {
    width: 100% !important;
    float: none;
    margin-left: none;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
a {
    color: blue !important;
}
.filterHeading h2 {
    padding: 0 !important;
    margin: 0 !important;
}
.inputBorder {
    border: 1px solid black !important;
    height: 3rem !important;
}

.site-card-border-less-wrapper h2 {
    padding: 0 !important;
    margin: 0 !important;
}
.placeHolderFont {
    font-size: 4rem;
    font-weight: bold;
}
/* button{
    background-color: #6c757d !important;
} */
