#SearchCar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
img {
    width: 95% !important;
}
#homePageLeftImg h3 {
    color: white;
}
#homepageSearchBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
