#SearchCar {
    padding: 10rem 3rem;
}
img {
    width: 95% !important;
}
#homePageLeftImg h3{
    color: white;
}
.ant-card{
    width: 98%;
}
.ant-spin {
    display: flex !important;
    justify-content: center !important;
}
#homepageSearchBox{
    display: flex;
    justify-content: center;
    align-items: center;
}